In [ ]:
#syntax of dict comprehension
dict={key expression:value expression for i in iterable}

In [48]:
#square of numbers in range 50 if number divible by 5
d1={i**2:i for i in range(1,50)if i%5==0 }
print(d1)

{25: 5, 100: 10, 225: 15, 400: 20, 625: 25, 900: 30, 1225: 35, 1600: 40, 2025: 45}

In [55]:
s='Dhoni is good batsman and captain'
d={i:s.count(i) for i in s}
print(d)

{'D': 1, 'h': 1, 'o': 3, 'n': 4, 'i': 3, ' ': 5, 's': 2, 'g': 1, 'd': 2, 'b': 1, 'a': 5, 't': 2, 'm': 1, 'c': 1, 'p': 1}

In [52]:

s='Dhoni is good batsman and captain'
d={i:len(i) for i in s.split(' ')}
print(d)

{'Dhoni': 5, 'is': 2, 'good': 4, 'batsman': 7, 'and': 3, 'captain': 7}

In [1]:
#dict comprehension with if condition
original_dict={'amol':29,'abhi':30,'abhishek':35,'abhijit':48}
new_dict={k:v for(k,v)in original_dict.items() if v%2==0}
print(new_dict)

{'abhi': 30, 'abhijit': 48}

In [2]:
#dict comprehension with multiple if 
dict1={k:v for (k,v) in original_dict.items() if v%2!=0 if v>30}
print(dict1)

{'abhishek': 35}

In [ ]:
list comprehension

In [ ]:
#syntax
new_list=[output/expression for item in iterable if condition==True]

In [10]:
l=[1,2,3,4,5]
l1=[i for i in l]
print(l1)

[1, 2, 3, 4, 5]

In [17]:
#w/o list comprehension
l1=['Amol','abhijit','sachin','yuvraj']
l2=[]
#to find the names that starts with 'a'
for i in l1:
    if i.startswith('a'):
        l2.append(i)
print(l2)

#by using list comprehension

l3=[i for i in l1 if i.startswith('a')]
print(l3)
l4=[i*3 for i in l1 if i.lower()=='amol']
print(l4)

['abhijit']
['abhijit']
['AmolAmolAmol']

In [12]:
#create new list which add 6 to each element in list
l=[12,3,1,8,2,30]
l1=[i+6 for i in l]
print(l1)

[18, 9, 7, 14, 8, 36]

In [18]:
l=[i**2 for i in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
#to add % at start and end of each word
s='Dhoni is great captain'
l=['%'+i+'%' for i in s.split(' ')]
print(l)

['%Dhoni%', '%is%', '%great%', '%captain%']

In [5]:
#we can use range() function to create iterable

l=[x for x in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
#we can use range() function to create iterable with condition

l=[x for x in range(10) if x % 2 == 0]
print(l)

[0, 2, 4, 6, 8]

In [21]:
l1=['amol','abhijit','sachin','yuvraj']
l2=[]
l3=['dhoni' if i=='amol'else i for i in l1]
print(l3)

['dhoni', 'abhijit', 'sachin', 'yuvraj']

In [25]:
s='Dhoni is best Cptain ever in the indian team'
l1=[i for i in s.lower() if i not in('a','e','i','o','u',' ',',')]
print(l1)
print(len(l1))

['d', 'h', 'n', 's', 'b', 's', 't', 'c', 'p', 't', 'n', 'v', 'r', 'n', 't', 'h', 'n', 'd', 'n', 't', 'm']
21

In [26]:
#to find common elements between two lists
l1=[1,2,3,4]
l2=[1,3,4,5]
l3=[i**2 for i in l1 if i in l2]
print(l3)

[1, 9, 16]

In [32]:
l=['amol','shreya','swarA','abhijit','aa']
l1=[i for i in l if i.lower().endswith('a') or len(i)>4]
print(l1)

['shreya', 'swarA', 'abhijit', 'aa']

In [43]:
l=[10,-5,2,5,-8,1,2,-15,20,-10,5,2,-5,8,1,2,-15,20,0,0,0]
l1=[i for i in l if i>0]
l2=[i for i in l if i%2==0]
l3=len([i for i in l if i<0])
l4=len([i for i in l if i==0])


print(l1)
print(l2)
print(l3)
print(l4)

[10, 2, 5, 1, 2, 20, 5, 2, 8, 1, 2, 20]
[10, 2, -8, 2, 20, -10, 2, 8, 2, 20, 0, 0, 0]
6
3